<div class="page-header container">
  <div class="span4">
    <h1>About</h1>
  </div>
</div>
<div class="span8">
<h3>About Our Channel</h3>
  <p>Our channel is a place where you can find some funny and crazy video's.<br> There will always be coming more video's out.<br> Sometimes it will take a bit of time before a new one comes out because<br> it takes a lot of effort recording and putting it together.<br> This website you will find some downloads and history of our channel.<br> Some of the downloads will be for example our recording world where<br> we record all our funny minecraft video's.</p>
</div>
<div class="span8">
<h3>What We Do</h3>
  <p>We make awesome video's about Minecraft and other funny things.<br>Remember to check out all our video's and subscribe.</p>
<h3>TwistedBrainz Name</h3>
  <p>We had no idea of what our name should be. But after a while Dennis<br> came up with TwistedBrains. We tried but somebody had taken it.<br> After a lot of times of trying we came out with MrTwistedBrainz.</p>
</div>
<div class="span5">
  <h3>Founders of TwistedBrainz</h3>
<%= image_tag("jacob.jpg", class: "founders") %>
<%= image_tag("dennis.jpg", class: "founders") %>
</div>