<div class="page-header container">
<h2>Downloads</h2>
</div>
<div class="container">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name <i class="pull-right">Minecraft</i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><a href="#">Recording World</a><a href="#"> <i class="icon-download pull-right download"></i></a></td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href="#">Texture Pack</a><a href="#"> <i class="icon-download pull-right download"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>