<title>TwistedBrainz - Home</title>
<div class="page-header container">
  <div class="span4">
    <h1>Home</h1>
  </div>
</div>
<div class="span3" id="channelnews">
  <h3>Channel News</h3>
  <p>In here you will find all the new stuff our channel is doing.</p>
  <strong>More Video's</strong>
  <p>Our channel will get more video's in May 2014. Then we will make some more video's and maybe even some question and answer, blogs and a lot more!</p>
  <strong>Instagram!</strong>
  <p>Join our new Instagram account. Its called <a href="http://instagram.com/twistedbrainz">TwistedBrainz</a>. Be sure to follow us, and we will be putting up pictures of when we make our video's.</p>
  <strong>New Stuff</strong>
  <p>We have updated the navbar and actually added a new one. We have also made the navigation thing in the bottom look better. It is still in process but looking good. Soon we will add the heads on the nav bar.</p>
  <p>Find our channel <a href="http://www.youtube.com/MrTwistedBrainz">here</a></p>
</div>