<div class="page-header container">
  <h2>Home</h2>
</div>
<div class="span4">
  <h3>Founders of TwistedBrainz</h3>
<%= image_tag("jacob.jpg", class: "founders") %>
<%= image_tag("dennis.jpg", class: "founders") %>
</div>