<div class="page-header container">
  <div class="span4">
    <h1>Home</h1>
  </div>
</div>
<div class="video">
  <iframe width="560" height="315" src="//www.youtube.com/embed/c3inBZoUi2A" frameborder="0" allowfullscreen></iframe>
</div>
<div class="videoname">
  <h3>Like A Cow</h3>
  <p>Our First Video</p>
</div>