<title>TwistedBrainz - Minecraft</title>
<div class="page-header container">
  <div class="span4">
    <h1>Minecraft Videos</h1>
  </div>
</div>
<div class="videothumbnail span8">
  <%= link_to image_tag('likeacow.jpg'), "http://www.youtube.com/watch?v=c3inBZoUi2A" %>
</div>