// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
  border-bottom: solid 1px #E5E5E5;
  padding: 5px 0px;
  margin-right: 2px;
}

.status p {
  margin: 4px 0;
  font-family: Helvetica;
}

.status strong {
  font-size: 15px;
}

.status .admin {
  display: none;
}

.status.hover .admin {
  display: inline;
}

.status.hover {
  background: #F5F5F5;
}

.gravatar {
  padding-left: 15px;
}

#status-btn {
  text-align: center;
  padding-bottom: 29px;
}

#form-btn {
  padding-bottom: 20px;
}

.gravatar {
  padding-left: 15px;
}

.show-status {
  padding-bottom: 30px;
}

.timeago {
  color: rgba(204,204,204,0.8);
  -webkit-transition: all 0.2s ease-in-out;
}

.timeago:hover {
  color: #FF0000;
}

.statusedit {
  color: rgba(204,204,204,0.8);
  -webkit-transition: all 0.2s ease-in-out;
}

.statusedit:hover {
  color: #FF0000;
}

.statusdelete {
  color: rgba(204,204,204,0.8);
  -webkit-transition: all 0.2s ease-in-out;
}

.statusdelete:hover {
  color: #25B0E6;
}

#statuspipe {
  color: rgba(204,204,204,0.8);
}